.social__list {
  display: flex;
  justify-content: center;
}

.social__item:not(:last-child) {
  margin-right: 10px;
}

.social__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  transition: background-color 250ms var(--cubic-bezier);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}

.social__icon {
  transition: fill 250ms var(--cubic-bezier);
  fill: var(--icon-color);

  .social__link:hover &,
  .social__link:focus & {
    fill: var(--white-color);
  }
}
